<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.coska.beacon"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-feature android:name="android.hardware.bluetooth" android:required="true" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

	<application
		android:name=".Application"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="false"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity android:name=".ui.main.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.task.EditTaskActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="false"
			android:screenOrientation="portrait" />

		<activity android:name=".ui.Beacon.EditBeaconActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="false"
			android:screenOrientation="portrait" />

		<provider
			android:name=".model.BeaconProvider"
			android:authorities="com.coska.beacon.provider"
			android:exported="false" />

		<service
			android:name=".service.TaskService"
			android:exported="false"
			android:label="task_service" />
	</application>

</manifest>
